* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navigation {
  background-color: rgb(66, 53, 37);
  padding: 1rem 0;
  color: #fff;
}

.sub-nav {
  display: flex;
  width: 90%;
  gap: 1rem;
  padding: 0 2rem;
  text-align: center;
}

.font {
  font-size: 1.5rem;
  list-style: none;
}

.btn {
  padding: 0.5rem;
  background-color: gray;
  font-size: 20px;
  color: #fff;
  border: none;
}

.dropdown {
  list-style: none;
}

.modal {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 3rem 0 0 0;
  background-color: #5d3838;
  padding: 30px;
  cursor: pointer;
}

.modalContent {
  padding: 5rem;
  background-color: gray;
  color: #fff;
}

span {
  color: white;
  font-size: 25px;
  background-color: #951616;
}

.b-t-n {
  font-size: 25px;
}
